<h1>Home page</h1>
<div class="homepageDescription">
    <p>Nyers [1] of OSU's 3D scanning lab uses an artifact collection of around 500 items, mostly from the anthropology department, 
        and others from various university departments, for student use. However, he is interested in creating a catalogue of 
        3D-scanned artifacts for interested departments, enabling simultaneous sharing of the 3D scans and potentially quadrupling 
        the number of scanned artifacts. The interested parties of other departments are known as “points of contact,” and the 
        3D scanning lab has its own point of contact, Dr. Loren Davis. Depending on what the scans are used for, artifacts can be 
        scanned with or without texture (aka color); that is, one artifact can be scanned multiple times to produce multiple 3D scans. 
        A database website allows 3D scanning technicians to track artifacts, 3D scans, and points of contact for interested departments, 
        along with related data.</p>
</div>